NODE_ENV=development
PORT=5000

# MySQL / Aiven
DB_HOST=mysql-2954f5bb-opp-data.j.aivencloud.com
DB_PORT=14833
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=AVNS_fIeg8rQ_jgkVDcDFWyn
DB_SSL=true

# JWT
JWT_SECRET=hrm_super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173
